body {
    background-image: url('../images/loginBackground.jpg');
    background-size: 30vw;
    background-repeat: repeat;
    overflow: hidden;
}

#header {
    position: absolute;
    background-color: #444;
    width: 25vw;
    height: 37vw;
    left: 35vw;
    top: 2vh;
    font-size: 1.8vw;
    padding: 2vw;
    border-radius: .5vw;
    border: .4vw solid;
    transition: left .5s ease;
}
#label {
    color: #ccc;
    font-size: 2.5vw;
    position:absolute;
    left:5vw;
}
.formInput{
    position: relative;
    height: 1vw;
    width: 25vw;
    margin: .5vw 1vw 2vw -1.5vw;
    color: #ccc;
    font-size: 1.5vw;
    padding-bottom: .8vw;
    padding-top: .5vw;
    left: 1.5vw;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #666;
} .formInput:focus {outline: none; border-bottom-color: #999;}

#submit {
    border-radius: .2vw;
    margin-top: -.1vw;
    padding: .5vw;
    width: 25vw;
    height: 3.5vw;
    font-size: 1.6vw;
    background-color: orange;
    border: .1vw solid transparent;
    text-align: center;
    -webkit-transition: border .5s; /* Safari */
    transition: border .5s;
}#submit:hover{border: .1vw solid white;}
 #submit:active{transition: none; border: .1vw solid black;}
 #submit:focus{outline: none;}

#email_notification,
#password_notification,
#confirm_password_notification {
    position: absolute;
    left: 27vw;
    padding: .5vw;
    font-size: 1.5vw;
    border-radius: 10px 10px 10px 0;
    color: #444;
    background-color: orange;
    visibility: hidden;
    transition: transform .2s;
}
#email_notification {
    top: 7vw;
}
#password_notification {
    top: 22vw;
}
#confirm_password_notification {
    top: 29vw;
}


.loading_screen {
    transition: left .5s ease;
    position: absolute;
    left: 30vw;
    top: 10vh;
    background-color: #444;
    text-align: center;
    font-size: 1.2vw;
    color: #ccc;
    border: 3px solid orange;
    border-radius: 1vw;
    padding: 1vw 1.5vw;
}
#g-title {
    margin-top: .5vw;
    padding: .2vw;
    background-color: #ccc;
    color: #444;
    border-radius: 1vw;
}
#artists {
    position: relative;
    background-color: green;
    border-radius: 10px;
    width: 100%;
    height: ;
}
#bandSelector {
    display: none;
}