#header {
    position: absolute;
    background-color: #444;
    width: 35vw;
    height: 60vh;
    left: 30vw;
    top: 2vh;
    font-size: 1.8vw;
    padding: 2vw;
    border-radius: 1vw;
}
.formInput{
    position: relative;
    height: 2vh;
    width: 20vw;
    margin: 0 .8vw .8vw;
    color: #ccc;
    font-size: 1.5vw;
    padding-bottom: 1vw;
    left: -1vw;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #666;
} .formInput:focus {outline: none; border-bottom-color: #999;}
input::-webkit-input-placeholder {color: #666;}
input:focus::-webkit-input-placeholder {color: #999;}

/* Firefox < 19 */
input:-moz-placeholder {color: #666;}
input:focus:-moz-placeholder {color: #999;}

/* Firefox > 19 */
input::-moz-placeholder {color: #666;}
input:focus::-moz-placeholder {color: #999;}

/* Internet Explorer 10 */
input:-ms-input-placeholder {color: #666;}
input:focus:-ms-input-placeholder {color: #999;}

#submit {
    border-radius: .2vw;
    margin-top: .5vw;
    padding: .3vw;
    width: 15vw;
    height: 5vh;
    font-size: 1.6vw;
    background-color: orange;
    border: .1vw solid transparent;
}#submit:hover{border: .1vw solid white;}
 #submit:active{border: .1vw solid black;}
 #submit:focus{outline: none;}