#header {
    position: absolute;
    background-color: #444;
    width: 25vw;
    height: 37vw;
    left: 35vw;
    top: 2vh;
    font-size: 1.8vw;
    padding: 2vw;
    border-radius: .5vw;
    border: .4vw solid;
}
#label {
    color: #ccc;
    font-size: 2.5vw;
    position:absolute;
    left:5vw;
}
.formInput{
    position: relative;
    height: 2vh;
    width: 25vw;
    margin: .5vw 1vw 2vw -1.5vw;
    color: #ccc;
    font-size: 1.5vw;
    padding-bottom: .8vw;
    padding-top: .5vw;
    left: 1.5vw;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #666;
} .formInput:focus {outline: none; border-bottom-color: #999;}

#submit {
    border-radius: .2vw;
    margin-top: .5vw;
    padding: .5vw;
    width: 25vw;
    height: 3.5vw;
    font-size: 1.6vw;
    background-color: orange;
    border: .1vw solid transparent;
    text-align: center;
    transition: .5s ease;
}#submit:hover{border: .1vw solid white;}
 #submit:active{border: .1vw solid black;}
 #submit:focus{outline: none;}