# DEPLOYMENT IGNORABLES
_deploy/deploy
*.cfg
logs/

# JAVA IGNORABLES: logs, mvn output directory, and CXF library
_api/java_api/target
_api/java_api/catalina.out
_api/java_api/src/main/WebContent/WEB-INF/lib
_api/java_api/dependencies
_api/java_api/deploy.sh

# PYTHON IGNORABLES:

# NODE.JS IGNORABLES:
