body {
    background-image: url('./images/loginBackground.jpg');
    background-size: 30vw;
    background-repeat: repeat;
}

#header {
    position: absolute;
    background-color: #444;
    width: 50vw;
    height: 30vw;
    left: 25vw;
    top: 5vw;
    font-size: 2vw;
    padding: 2vw 2vw;
    border-radius: .5vw;
    border: .4vw solid;
}

.formInput{
    position: relative;
    height: 1.5vw;
    width: 25vw;
    margin: -1vw 1vw 2.5vw -1.5vw;
    color: #ccc;
    font-size: 1.5vw;
    padding-bottom: .5vw;
    padding-top: 1vw;
    left: 1.5vw;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #666;
} .formInput:focus {outline: none; border-bottom-color: #999;}

#email_notification,
#password_notification {
    position: absolute;
    width: 15vw;
    padding: .5vw;
    font-size: 1.5vw;
    background-color: orange;
    border-radius: 10px 10px 0 10px;
    right: 52.5vw;
    bottom: 10vw;
    color: #444;
    transition: transform .3s;
    visibility: hidden;
}
#email_notification {bottom: 17.5vw;}

#submit {
    border-radius: 10px;
    margin-top: .1vw;
    padding: 0;
    width: 25vw;
    height: 3vw;
    font-size: 1.8vw;
    background-color: orange;
    border: .1vw solid transparent;
    text-align: center;
}#submit:hover{border: .1vw solid white;}
 #submit:active{border: .1vw solid black;}
 #submit:focus{outline: none;}

.redirect {
    position: absolute;
    left: 30vw;
    bottom: 17vw;
    padding: .5vw;
    text-decoration: none;
    font-size: 1.7vw;
    width: 20vw;
    color: #FFF;
    border-radius: 10px;
    border: .1vw solid transparent;
    text-align: center;
}.redirect:hover {border: .1vw solid #FFF;}
 .redirect:active {border: .1vw solid #333; outline: none;}
.redirect.lostPass {
    background-color: #C293D6;
    bottom: 10vw;
} 
.redirect.createAccount {
    background-color: #1CD5BC;
}