body {
	font-family: sans-serif;
	overflow-x: hidden;
	background-color: var(--bgy);
}

.panel {
	position: relative;
	background-color: #393939;
	width: 325px;
	height: auto;
	margin: auto;
	top: 75px;
	text-align: center;
	font-size: 25px;
	font-family: 'Exo';
	padding: 20px;
	border-radius: 10px;
	border: 3px solid var(--purple);
	transition: transform .5s;
}
h {
	display: block;
	font-size: 32px;
	color: var(--cream);
}
.form_area {
	margin-top: 15px;
}
.form_section {
	text-align: left;
}
.form_label {
	color: var(--purple);
}
.form_input {
	position: relative;
	height: 15px;
	width: 100%;
	margin: 5px 10px 25px -25px;
	color: #CCC;
	font-size: 20px;
	padding-bottom: 10px;
	left: 25px;
	background-color: transparent;
	border: 2px solid transparent;
	border-bottom-color: #666;
}
.form_input:focus {
	outline: none;
	border-bottom-color: #CCC;
}

.notification {
    position: absolute;
    left: 300px;
    text-align: center;
    width: 250px;
    padding: 5px 0;
    font-size: 18px;
    border-radius: 10px 10px 10px 0;
    color: #444;
    background-color: red;
    display: none;
    transition: transform .2s;
}
.submit {
	padding: 5px 20px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	font-family: 'Exo';
	color: #393939;
	border: 1px solid var(--yellow);
	background-color: var(--cream);
}
.submit:hover { cursor: pointer; }
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	outline: none;
	border: 1px solid #393939;
	border-bottom-color: var(--yellow);
	-webkit-text-fill-color: var(--yellow);
	-webkit-box-shadow: 0 0 0 1000px #393939 inset !important;
}
.complete_form_input {
	border-bottom-color: var(--yellow);
	color: var(--yellow);
}











#loader {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-200%);
    top: 15%;
    width: 750px;
    margin-bottom: 10px;
    background-color: #444;
    font-size: 25px;
    color: #ccc;
    text-align: center;
    border: 3px solid #81dafc;
    border-radius: 10px;
    padding: 10px 15px;
    transition: transform .5s;
}
.c-title {
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ccc;
    color: #444;
}
.done {
    display: inline-block;
    font-size: 20px;
    transform: translate(70px, -2px);
    background: transparent;
    border-radius: 20px;
    border: 1px solid transparent;
    color: #444;
}.done:hover {
    background-color: #81dafc;
    border: 1px solid #444;
    cursor: pointer;
}.done:active {
    background-color: lightblue;
}
.arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: rotate(270deg) translateX(-1px);
    filter: invert(.9);
}:focus {
    outline: none;
}
.incomplete {
    position: absolute;
    top: 92px;
    right: 20px;
    width: 43%;
    padding: 2px;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    background-color: red;
    visibility: hidden;
}
.incomplete.exp {
    border-radius: 0 0 5px 5px;
    top: 88px;
    width: 35%;
}
#genreSelector {
    display: block;
}
.gb-content {
    position: relative;
    text-align: left;
}
.gib {
    position: relative;
    display: inline-table;
    width: 47%;
    margin-right: 5%;
}
.creation_input {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #1CD5BC;
    background-color: transparent;
    color: #1CD5BC;
} .creation_input:focus{outline: none;}
  .creation_input::selection {
        background: #C293D6;
  }
  .creation_input::-moz-selection {
        background: #C293D6;
  }
.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    top: 0 !important;
    color: #444;
    background-color: #1CD5BC;
    border: 2px solid transparent;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    font-size: 20px;
    display: none;
}
.selected {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 47%;
    height: auto;
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
    color: #C293D6;
    border: 2px solid #C293D6;
    border-radius: 10px;
}
#bandSelector {
    display: none;
}
#recommended_bands {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    padding: 5px;
    background-color: transparent;
    border: 2px solid #1CD5BC;
    border-radius: 5px;
    width: 100%;
    display: none;
}
#recommendations {
    border: 2px solid transparent;
}
#experience {
    display: none;
    text-align: center;
}
#years {
    display: block;
    text-align: center;
}
.selectInput {
    transform: translate(5px, -2px);
    font-size: 20px;
    padding: 3px;
    background-color: #444;
    border: 1px solid #1CD5BC;
    color: #1CD5BC;
    border-radius: 5px;
}
.open {
    border-radius: 5px 5px 0 0 !important;
}
.InSelected, .InSelected:focus, .InSelected:hover {
    outline: none;
    background: #222;
    color: #ccc;
}
#instruments{
    display:none;
}


@media only screen and (max-width: 790px) {
    .notification {
        position: relative;
        background-color: red;
        border-radius: 5px;
        width: 91%;
        top: 0 !important;
        left: 0;
        margin: -15px 0 -20px;
    }
    #loader {
        width: 95%;
        font-size: 16px;
    }
    .done {
        font-size: 16px;
        transform: translate(70px, 0px);
    }
    .arrow {
        width: 10px;
        height: 12px;
    }
    .incomplete {
        top: 120px;
        font-size: 14px;
        border-radius: 0 0 5px 5px;
    }
    .incomplete.exp{
        top: 127px;
    } 
    .selected {
        font-size: 16px;
    }
    .creation_input {
        font-size: 16px;
    }
    .autocomplete {
        font-size: 16px;
    }
    .selectInput {
        font-size: 16px
    }
}
@media only screen and (max-width: 575px) {
    #loader{
        width: 93%;
    }
    .done {
        transform: translate(40px, 0px);
    }
    .gib {
        width: 45%;
    }
    .incomplete {
        top: 115px;
        right: 30px;
        font-size: 12px;
    }
    .incomplete.exp {
        top: 123px;
    }
    .selected {
        font-size: 12px;
        width: 45%;
    }
    .creation_input {
        font-size: 12px;
    }
    .autocomplete {
        font-size: 12px;
    }
    .selectInput {
        font-size: 12px;
        padding: none;
    }
}
@media only screen and (max-width: 500px) {
    #loader {
        font-size: 12px;
    }
    .incomplete.exp {
        top: 112px;
    }
    .selected {
        font-size: 10px;
    }
    .creation_input {
        font-size: 10px;
    }
    .autocomplete {
        font-size: 10px;
    }
}
@media only screen and (max-width: 400px) {
    #loader {
        font-size: 9px;
    }
    .incomplete.exp {
        top: 97px;
    }
    .done {
        font-size: 12px;
        transform: translate(20px, 0px);
    }
    .arrow {
        width: 7px;
        height: 9px
    }
    .selected {
        font-size: 8px;
    }
    .creation_input {
        font-size: 8px;
    }
    .autocomplete {
        font-size: 8px;
    }
    .selectInput {
        font-size: 8px;
    }
}
@media only screen and (max-width: 315px) {
    #loader {
        width: 85%;
        font-size: 6px;
    }
    .incomplete.exp {
        top: 88px;
    }
    .gib {
        width: 40%;
        margin-right: 10%;
    }
    .selected {
        font-size: 6px;
        width: 43%;
    }
    .creation_input {
        font-size: 6px;
    }
    .autocomplete {
        font-size: 6px;
    }
    .selectInput {
        font-size: 6px;
        border: .5px solid #1CD5BC;
        transform: translate(2px, 1px);
    }
}
