body {
	font-family: sans-serif;
	overflow-x: hidden;
	background-color: var(--bgy);
}

.panel {
	position: relative;
	background-color: #393939;
	width: 350px;
	height: auto;
	margin: auto;
	top: 75px;
	text-align: center;
	font-size: 25px;
	font-family: 'Exo';
	padding: 20px;
	border-radius: 10px;
	border: 3px solid var(--purple);
	text-align: center;
}
h {
	display: block;
	font-size: 32px;
	color: var(--purple);
}
.form_section {
	margin-bottom: 30px;
}
#submit {
	padding: 5px 20px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	font-family: 'Exo';
	color: #393939;
	border: 1px solid var(--yellow);
	background-color: var(--yellow);
}
#submit:hover { cursor: pointer; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	outline: none;
	border: 1px solid #393939;
	border-bottom-color: var(--yellow);
	-webkit-text-fill-color: var(--yellow);
	-webkit-box-shadow: 0 0 0 1000px #393939 inset !important;
}
