body {
    font-family: sans-serif;
	overflow: hidden;
	background-color: var(--bgp);
}
.panel {
	position: relative;
	margin: 100px auto;
	padding: 20px;
	width: 400px;
	height: auto;
	font-family: 'Exo';
	border-radius: 10px;
	border: 2px solid var(--yellow);
	background-color: #393939;
}
h {
	font-size: 32px;
	color: var(--cream);
}
form {
	margin-top: 25px;
}
.form_label {
	font-size: 18px;
	color: var(--yellow);
}
.form_input {
	position: relative;
	height: 15px;
	width: 100%;
	margin: 5px 10px 25px -25px;
	color: #CCC;
	font-size: 20px;
	padding-bottom: 10px;
	left: 25px;
	background-color: transparent;
	border: 2px solid transparent;
	border-bottom-color: #666;
}
.form_input:focus {
	outline: none;
	border-bottom-color: #CCC;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	outline: none;
	border: 1px solid #393939;
	border-bottom-color: var(--purple);
	-webkit-text-fill-color: var(--purple);
	-webkit-box-shadow: 0 0 0 1000px #393939 inset !important;
}
.complete_form_input {
	border-bottom-color: var(--purple);
	color: var(--purple);
}
#email_notification {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 20px;
    background-color: orange;
    border-radius: 10px 10px 0 10px;
    right: 630px;
    bottom: 100px;
    color: #444;
    transition: transform .3s;
    display: none;
}
.submit {
	padding: 2px 20px;
	font-family: 'Exo';
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid var(--purple);
	color: #393939;
	background-color: var(--cream);
}

#complete {
    position: absolute;
    width: 500px;
    padding: 10px;
    font-size: 30px;
    left: -400px;
    top: 50%;
    margin: -100px -250px;
    color: #ccc;
    background-color: #444;
    border: 2px solid orange;
    border-radius: 10px;
    transition: transform .5s;
}
