.navBar {
    position: absolute;
    width: 1000vw;
    height: 60px;
    background-color: #ccc;
    border-bottom: 2px solid #444;
    transform: translate(-10px,-10px);
}

.navLink {
    position: relative;
    left: 350px;
    top: 24px;
    padding: 7px 3vw;
    font-size: 25px;
    text-align: center;
    background-color: #ccc;
    border-bottom: 2px solid #444;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition-property: border, background;
    transition-duration: .5s, .5s;
}
.navLink:hover {
    cursor: pointer;
    background-color: #aaa;
    border-bottom-color: #fff;
}
.navLink:active {background: #999}
.navLink::selection {background: transparent; /* WebKit/Blink Browsers */}
.navLink::-moz-selection {background: transparent; /* Gecko Browsers */}
.navLink.P:hover {background: rgba(28, 213, 188, 0.5);}
.navLink.T:hover{background: rgba(194, 147, 214, 0.5)} 
.navLink.S:hover {background-image: linear-gradient(to right, rgba(28, 213, 188, 0.8), rgba(194, 147, 214, 0.4));}

.centralContent {
    position: absolute;
    left: 40vw;
    top: 10vh;
    border: .1vw solid #444;
    border-radius: 10px;
    padding: 0 1vw 300px;
}
caption {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
th {
    position: relative;
    font-size: 1vw;
    padding: 0 5vw;
    border: rgba(28, 213, 188, 0.8);
    background: #ccc;
}