.form_area {
	margin-top: 15px;
}
.form_section {
	position: relative;
	text-align: left;
}
.form_label {
	position: relative;
	margin-bottom: 5px;
	font-size: 28px;
	color: var(--cream);
}
.form_input {
	position: relative;
	height: 15px;
	width: 100%;
	margin: 5px 10px 5px -25px;
	padding-bottom: 10px;
	left: 25px;
	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: var(--cream);
	background-color: transparent;
	border: 2px solid transparent;
	border-bottom-color: #666;
}
.form_input:focus {
	outline: none;
	border-bottom-color: var(--cream);
}

.notification {
	position: relative;
	text-align: center;
	width: 100%;
	padding: 5px 0;
	margin: 5px 0 -15px;
	font-size: 18px;
	border-radius: 0px 10px 10px 10px;
	color: #444;
	background-color: red;
	display: none;
	transition: transform .2s;
}
.complete_form_input {
	border-bottom-color: var(--yellow) !important;
	color: var(--yellow);
}
