.logo_box {
	position: absolute;
	top: 25px;
	left: 25px;
	width: auto;
	height: auto;
	padding: 10px 20px;
	border-radius: 30px;
	border: 2px solid;
	border-top-color: var(--purple);
	border-left-color: var(--purple);
	border-bottom-color: var(--yellow);
	border-right-color: var(--yellow);
	background-color: #393939;
}
.logo_box:hover { cursor: pointer; }
.logo {
	position: relative;
	width: 174px;
	height: 30px;
}
