pre,
code,
kbd,
samp,
tt{
  font-family:monospace,monospace;
  font-size:1em;
}
/*All of these settings are a ratio of the window size being used.*/
.Board {
    margin: -1vw 0 .5vw;
    padding: 0 2vw;
    background-color: #6699CC;
    box-shadow: 0 0 1vw 1vw #6699CC;
}
.PianoKey {
    background-color: #FFFFFF;
    border: .15vw solid grey;
    border-radius: 0vw 0vw 1vw 1vw;
    color: black;
    font-family: monospace, monospace;
    text-align: center;
    z-index: 0; position: relative;
    cursor: pointer;
    box-shadow: 0vw .5vw .5vw black;
    padding: 10vw 1.5% 1vw 1.5%;
    margin: 0 -.2% 1%;
    font-size: 1.4vw;
    top: 0;
}
.PianoKey:hover {
    border: .15vw solid black;
    z-index: 1; position: relative;
}
.PianoKey:active {
    background-color: #CCCCCC;
    box-shadow: 0vw .5vw .5vw black;
 }
.sharp {
    background-color: #000000;
    color: white;
    z-index: 2; position: relative;
    padding: 2vw .3vw 1vw .3vw;
    margin: 0 -1.45%;
    top: -8vw;
}
.sharp:active {
    background-color: #333333;
}

/*When the window gets really small, the margins get fucked up, so its nice to have a safety net to protect it*/
@media only screen and (max-width: 800px) {
    .Pkey {
        margin: 0 -.3% 1%;
    }
    .Psharp {
        margin: 0 -1.5%;
    }
}
@media only screen and (max-width: 650px) {
    .Pkey {
        margin: 0 -.4% 1%;
    }
    .Psharp {
        margin: 0 -1.6%;
    }
}
@media only screen and (max-width: 510px) {
    .Pkey {
        margin: 0 -.5% 1%;
    }
    .Psharp {
        margin: 0 -1.7%;
    }
}
@media only screen and (max-width: 400px) {
    .Pkey {
        margin: 0 -.6% 1%;
    }
    .Psharp {
        margin: 0 -1.8%;
    }
}