.PianoKey {
    background-color: #FFFFFF;
    border: 3px solid grey;
    border-radius: 0px 0px 10px 10px;
    color: black;
    padding: 125px 22px 10px 21px;
    /*padding: top - left - bottom - right*/
    margin: -4px;
    text-align: center;
    font-size: 16px;
    z-index: 0; position: relative;
    cursor: pointer;
    box-shadow: 0px 5px 5px black;
}
.PianoKey:hover {
    border:3px solid black;
    z-index: 1; position: relative;
}
.PianoKey:active {
    background-color: #CCCCCC;
    box-shadow: 0 2px 5px black;
 }
.sharp {
    background-color: #000000;
    color: white;
    padding: 25px 10px;
    margin: -25px -25px;
    top: -100px;
    z-index: 2; position: relative;
}
.sharp:active {
    background-color: #333333;
}
h1 {
    font-size: 400%;
    margin: 20px 0px 0px;
    color: #6699CC;
    text-shadow:  1px -1px 5px #3366AA;
}
p {
    font-size: 125%;
    margin: -75px 0px 0px 400px;
}