pre,
code,
kbd,
samp,
tt{
  font-family:monospace,monospace;
  font-size:1em;
}
/*Default settings that do not need variable action*/
.Board {
    margin: -1vw 0 1vw;
    padding: 0 0 0 1vw;
    background-color: #6699CC;
    box-shadow: 0 0 1vw 1vw #6699CC;
}
.PianoKey {
    background-color: #FFFFFF;
    border: .15vw solid grey;
    border-radius: 0vw 0vw 1vw 1vw;
    color: black;
    font-family: monospace, monospace;
    text-align: center;
    z-index: 0; position: relative;
    cursor: pointer;
    box-shadow: 0vw .5vw .5vw black;
    padding: 10vw 1.19% 1vw 1.19%;
    margin: 0 -.2% 1%;
    font-size: 1.4vw;
    top: 0;
}
.PianoKey:hover {
    border: .15vw solid black;
    z-index: 1; position: relative;
}
.PianoKey:active {
    background-color: #CCCCCC;
    box-shadow: 0vw .5vw .5vw black;
 }
.sharp {
    background-color: #000000;
    color: white;
    z-index: 2; position: relative;
    padding: 2vw .3vw 1vw .3vw;
    margin: 0 -1.4%;
    top: -8vw;
}
.sharp:active {
    background-color: #333333;
}

/*Resolution width 700-900
@media only screen and (min-width : 700px) and (max-width : 1200px){
    .PKey {
        padding: 67px 10px 5px 10px;
        margin: 0px -5px 10px -5px;
        font-size: 10px;
    }
    .Psharp {
        padding: 13px 5px;
        margin: -15px -5px;
        top: -54px;
    }
    h1 {
        color: #6699CC;
        text-shadow:  1px -1px 5px #3366AA;
        font-size: 200%;
        margin: 10px 0px 0px;
    }
    p {
        font-size: 67%;
        margin: 38px 0px 0px 200px;
    }
}

/*Resolution width 1900 - 2400
@media only screen and (min-width: 1280px) and (max-width: 1500px){
    .Pkey {
        padding: 125px 20px 10px 20px;
        margin: 0px -5px 20px -4px;
        font-size: 20px;
    }
    .Psharp {
        padding: 25px 10px;
        margin: -25px -25px;
        top: -100px;
    }
    h1 {
        color: #6699CC;
        text-shadow:  1px -1px 5px #3366AA;
        font-size: 400%;
        margin: 20px 0px 0px;
    }
    p {
        font-size: 125%;
        margin: 75px 0px 0px 400px;
    }
}
*/