.PianoKey {
    background-color: #FFFFFF;
    border: 3px solid grey;
    color: black;
    padding: 125px 20px 10px 20px;
    /*padding: top - left - bottom - right*/
    margin: -5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.PianoKey:hover {
    border:3px solid black; }
.PianoKey:active {
    background-color: #CCCCCC; }
.sharp {
    background-color: #000000;
    color: white;
    padding: 25px 5px;
    margin: -20px -20px;
    top: -100px;
    z-index: 1; position:relative;
}
.sharp:active {
    background-color: #333333;
}
.border {
    border: 3px solid black;
    padding: 5px 30px 5px 5px;
}