.PianoKey {
    background-color: #FFFFFF;
    border: 3px solid grey;
    border-radius: 0px 0px 10px 10px;
    color: black;
    padding: 125px 22px 10px 21px;
    /*padding: top - left - bottom - right*/
    margin: -4px;
    text-align: center;
    font-size: 16px;
    z-index: 0; position: relative;
    cursor: pointer;
}
.PianoKey:hover {
    border:3px solid black;
    z-index: 1; position: relative;
}
.PianoKey:active {
    background-color: #CCCCCC; }
.sharp {
    background-color: #000000;
    color: white;
    padding: 25px 5px;
    margin: -20px -20px;
    top: -100px;
    z-index: 2; position: relative;
}
.sharp:active {
    background-color: #333333;
}
.border {
}