:root {
	--login-panel-width: 700px;
	--login-panel-height: 300px;
}
body {
	background-color: var(--bgp);
}
input:focus { outline: none; }
.sector {
	display: none;
}
#login_panel {
	text-align: center;
	width: 100%;
}
#dashboard {
	text-align: left;
	width: 100%;
}
.panel {
	position: relative;
	width: auto;
	height: auto;
	margin-top: 25px;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	background-color: var(--grey);
	border-left: 4px solid var(--purple);
	border-top: 4px solid var(--purple);
	border-right: 4px solid var(--yellow);
	border-bottom: 4px solid var(--yellow);
	border-radius: 10px;
	font-family: sans-serif;
}
.panel_header {
	color: var(--cream);
	font-size: 26px;
}

/* DASHBOARD STYLES */
/* NAVBAR */
#nav_bar {
	height: auto;
}
.nav_link {
	float: right;
	text-decoration: none;
	color: black;
	position: relative;
	display: inline-block;
	margin-left: 10px;
	font-size: 16px;
	padding: calc(var(--logo-height)/4);
	border: 2px solid var(--grey);
	border-radius: 30px;
}
.nav_link:hover { cursor: pointer; }
.icon {
	vertical-align: middle;
	height: calc(var(--logo-height)/2);
}
.icon:hover { cursor: pointer; }

.search_container {
	width: calc(100% - 750px);
	height: 100%;
	padding: 0px;
	float: none;
	max-width: 500px;
	border-radius: 100px;
	background-color: transparent;
	color: var(--grey);
}
#search_bar {
	vertical-align: middle;
	text-align: left;
	padding-left: 20px;
	width: calc(100% - 80px);
	height: var(--logo-height);
	border-radius: 100px;
	border: 0px transparent;
	color: var(--grey);
	font-size: 16px;
}
#search_bar:hover { cursor: text; }
#search_bar:focus {
	background-color: transparent;
}
.search_icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 11px;
	border-radius: 0px 20px 20px 0px;
	margin: 0px;
}

/* SPECIFIC PANEL STYLES */
.left_panel {
	text-align: center;
	width: 256px;
	float: left;
}
.right_panel {
	float: right;
	margin-left: 25px;
	width: calc(100% - 400px);
	text-align: center;
}

/* LEFT PANEL STYLES */
#profile_picture {
	position: relative;
	width: 256px;
	height: 256px;
}
#picture_hint {
	position: absolute;
	padding: 5px 10px;
	text-align: center;
	background-color: var(--yellow);
	border-radius: 10px;
	font-size: 14px;
	display: none;
}

#username {
	background-color: transparent;
	text-align: center;
	color: var(--cream);
	border: none;
	border-radius: 10px;
	font-size: 20px;
	width: calc(100% - 25px);

}
#username:hover { cursor: pointer; }
#username:focus {
	background-color: var(--lightgrey);
	cursor: text;
}
#username::placeholder { color: var(--yellow); }
.info_container {
	width: 100%;
	margin-bottom: 25px;
}
.info_label {
	color: var(--purple);
}
.favorite_container {
	margin-top: 5px;
}
.favorite_element {
	width: auto;
	padding: 0 10px;
	margin: 2px;
	border-radius: 5px;
	font-size: 14px;
	display: inline-block;
	background-color: var(--lightgrey);
}
.favorite_element:hover {
	cursor: pointer;
	background-color: var(--cream);
}
.add_favorite {
	font-size: 14px;
	border-radius: 10px;
	width: 100%;
	text-align: center;
	background-color: transparent;
	border: none;
	color: white;
}
.add_favorite::placeholder {
	color: var(--yellow);
}
.add_favorite:hover { cursor: pointer; }
.add_favorite:focus {
	background-color: var(--lightgrey);
	cursor: text;
}
.round_button {
	padding: 5px 20px;
	font-size: 18px;
	color: var(--grey);
	background-color: var(--purple);
	border: 1px solid var(--yellow);
	cursor: pointer;
	transition: .3s ease;
}
.round_button:hover {
	border-radius: 10px;
}
.message {
	
}
.message.white {
	color: white;
}
#sign_out {
	display: inline-block;
	width: 100px;
	margin: 50px 50% 0px 0px; 
	text-align: center;
	background-color: var(--cream);
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
	text-decoration: none;
	color: black;
}
#sign_out:hover { cursor: pointer; }

/* RIGHT PANEL STYLES */
#project_area {
	width: 100%;
	text-align: left;
}
.project_label {
	width: 100%;
	font-size: 22px;
	margin: 10px 0px;
	color: var(--yellow);
}
.project {
	position: relative;
	width: 100%;
	padding: 10px 0px;
	font-size: 20px;
	color: var(--cream);
	border-radius: 10px;
}
.project:hover {
	background-color: #666666;
	cursor: pointer;
}
.project_attribute {
	display: inline-block;
	width: 32%;
	text-align: center;
}
.project_attribute.long {
	width: 100%;
}
.center {
	text-align: center;
}
.spaced {
	margin: 20px auto 0px;
}

/* LOGIN PAGE */
.login_panel {
	width: var(--login-panel-width);
	height: var(--login-panel-height);
	margin-top: 100px;
}
.login_logo {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 25%;
}
.login_logo:hover { cursor: default; }
.login_form_area {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 75%;
}
.login_form_section {
	margin-bottom: 25px;
}
/* LINK AREA */
.link_area {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 49%;
	height: 100%;
}
.link {
	position: relative;
	padding: 5px;
	margin: 25px auto;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	width: 75%;
	color: #393939;
	border-radius: 5px;
	border: 2px solid transparent;
	display: block;
}
.link:hover { border: 2px solid #FFF; cursor: pointer; }
.link:active { border: 2px solid #333; outline: none; }
.link::selection { background: transparent; }
.reset_password_link {
	background-color: var(--yellow);
	}
.create_account_link {
	background-color: var(--purple);
}
.submit_link {
	background-color: var(--cream);
}
.info {
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 50px;
	width: 350px;
	font-size: 12px;
}
